.section {
  color: #fff;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  padding: 40px 20px;
}

.container {
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.hashtag {
  font-size: 0.8rem;
  letter-spacing: 6px;
  color: #fff;
  opacity: 0.8;
  display: block;
  margin-bottom: 10px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 20px 0;
  letter-spacing: -1px;
}

.subtitle {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 40px;
}

.accent {
  color: #a31621;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.input {
  width: 100%;
  max-width: 450px;
  padding: 15px 25px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: rgba(255, 255, 255, 0.5);
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0 30px 0;
  font-size: 0.85rem;
  color: #aaa;
}

.checkbox {
  width: 18px;
  height: 18px;
  accent-color: #a31621;
  cursor: pointer;
}

.label a {
  color: #fff;
  text-decoration: underline;
}

.submitBtn {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 50px;
  border-radius: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.submitBtn:hover {
   background-color: #FFF;
  color: var(--accent);
}

.arrow {
  font-size: 1.2rem;
}
/* style for select */
.select {
  width: 100%;
  max-width: 502px; 
  padding: 15px 25px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  color: #fff;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
  
  /* delete standard arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

/* add custom arrow */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 18px;
}

.select:focus {
  border-color: rgba(255, 255, 255, 0.5);
}

.select option {
  background-color: #1a1c2c; 
  color: #fff;
  padding: 10px;
}

.select:invalid,
.select option[value=""] {
  color: rgba(255, 255, 255, 0.5);
}

.form {
  width: 100%;
}

@media (max-width: 600px) {
  .title { font-size: 2.5rem; }
  .subtitle { font-size: 1rem; }
}