
.heroContainer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 96px 48px;
  gap: 40px; 
}

.heroContentContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 30px;
  width: 50%;
}

.heroTitle {
  line-height: 1.2;
  font-size: 3rem;
}

.heroBtn {
  display: inline-flex;
  width: fit-content;
  cursor: pointer;
  line-height: 4rem;
  padding: 0 2rem;
  letter-spacing: 0.25rem;
  font-size: 1em;
  font-weight: 500;
  border-radius: 2.5rem;
  color: #FFFFFF;
  border: 2px solid #FFF;
  text-decoration: none;
  transition: all 0.3s ease;
}
.heroBtn:hover {
  background-color: #FFF;
  color: var(--accent);
}

@media (max-width: 992px) {
  .heroContainer {
    padding: 60px 30px;
  }
  
  .heroContentContainer {
    width: 60%; 
  }

  .heroTitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .heroContainer {
    flex-direction: column; 
    text-align: center;   
    padding: 40px 20px;
  }

  .heroContentContainer {
    width: 100%;           
    text-align: center;    
    align-items: center;   
  }

  .heroTitle {
    font-size: 2rem;
  }

  .heroBtn {
    margin-right: 0;      
    letter-spacing: 0.1rem; 
  }
}